{% extends 'main/base.html' %}

{% block navbar %}
{% include 'main/includes/navbar_project.html' %}
{% endblock %}

{% block content %}
<!--Description-->
<section id="description" class="full-height px-lg-5">
    <div class="container">
        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h1>Middle Earth Market</h1>

            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-12">
                <h6>Links:</h6>
            </div>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight"><a href="https://rothweilmiklos.hu/middle-earth/" target="_blank"
                                                 rel="noopener noreferrer" class="link-custom">Website link</a></div>
                <div class="p-2 bd-highlight"><a href="https://github.com/rothweilmiklos/portfolio" target="_blank"
                                                 rel="noopener noreferrer" class="link-custom">Code Link</a></div>
            </div>
        </div>
        <div class="row pb-4" data-aos="fade-up" data-aos-delay="500">
            <div class="col-lg-12">
                <h4>Description</h4>
            </div>
        </div>
        <div class="row pb-4" data-aos="fade-up" data-aos-delay="700">
            <div class="card-custom rounded-4 bg-base shadow-effect">
                <div class="card-custom-content p-4">
                    <p>This project is a mock web shop for characters from Lord of the Rings.</p>
                    <p>A user has to register first, and after a successful registration can log in.</p>
                    <p>Once logged in, the user can purchase equipments depending on their registered caste. In the shop page,
                        one can see their credit, and if they spent all their credits, they can redeem it by selling
                        equipments from the inventory page.</p>
                    <p>Despite the uniqueness of the equipments, it is possible to buy the same item multiple times, I
                        saw no reason not to do so.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//Description-->
<!--Technical brief-->
<section id="technical-brief" class="full-height px-lg-5">
    <div class="container">
        <div class="row pb-4" data-aos="fade-up" d>
            <div class="col-lg-12">
                <h4>Technical brief</h4>
            </div>
        </div>
        <div class="row pb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-custom rounded-4 bg-base shadow-effect">
                <div class="card-custom-content p-4">
                    <p>With this project my goal was to create a web app based on microservices architecture.</p>
                    <p>There is a front service, which receives the requests from the web pages, makes api calls to
                        relevant services, and handles the business logic.</p>
                    <p>There are three api services: user, items and inventory. Each api service is connected to its own
                        postgresql database service.</p>
                    <p>The user service stores the registered users, authenticates them and produces authentication
                        tokens, since the authentication between the front and the API services is done with JWT (JSON
                        Web Token).</p>
                    <p>The items service stores the equipments, and depending on the api call, responds with all the
                        caste filtered equipment, or the one being purchased/sold.</p>
                    <p>The inventory service keeps track of the purchased equipments, by saving each purchase
                        transaction in
                        its dedicated database. Depending on the API call, it responds with the user’s equipments, or
                        deletes them upon selling the equipment.</p>
                    <p>The biggest challenge was finding a way to authenticate between the front and the API services.
                        Fortunately there is a package called SimpleJWT which is dedicated for Django Rest Framework.
                        Using asymmetric RSA signing and verification, I’ve created a signing- and a verification key in
                        the authentication service, and I passed the verification key, to the inventory service. </p>
                    <p>This way, each user-specific API call to the authentication or the inventory service is
                        authenticated with the user’s access token against the verification key</p>
                    <p>To make further sense, I need to mention, that at each login, the user requests an access and a
                        refresh token from the authentication API, and stores them in a session cookie (which is
                        encrypted and stored in the client’s browser). Whenever the user uses the application, the
                        access token is validated against expiration and if expired, requests a new token via the
                        refresh token from the authentication service. For this process I created a middleware
                        function that is run at each client request.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//Technical brief-->
<!--Improve-->
<section id="improve" class="full-height px-lg-5">
    <div class="container">
        <div class="row pb-4" data-aos="fade-up" d>
            <div class="col-lg-12">
                <h4>What I want to improve</h4>
            </div>
        </div>
        <div class="row pb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-custom rounded-4 bg-base shadow-effect">
                <div class="card-custom-content p-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul>
                                <li>
                                    <p>I am quite far behind in the testing “department” which I now realize is a
                                        terrible practice. After looking into unit testing, especially django’s test
                                        package(based on python’s unittest) I am confident I will improve in this
                                        field fairly quickly.</p>
                                </li>
                                <li>
                                    <p>Clean code: In middle_earth_project/middle_earth_app the requests.py module I
                                        have created classes for different types of requests, which are coupled to other
                                        classes. After looking into clean code principles, especially SOLID, it is now
                                        clear I can decouple these classes by dependency injection and dependency
                                        inversion (making testing easier).</p>
                                </li>
                                <li>
                                    <p>For learning purposes (and maybe a little functional benefit) I want to make
                                        some api calls asynchronous. For this, I’ve found distributed task queue
                                        called Celery, which has Django support.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//Improve-->
{% endblock %}